div {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
}
  
label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #2db300;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1a6600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
  